body {
	color: $default_font_color;
	font-family: 'Cabin', sans-serif;
}

// header
header {
	height: 4em;
	background-color: $header_background_color;
	h1 {
		margin-top: 0.5em;
		font-size: 2em;
		color: #fff;
	}
}

// profile
.profile {
	display: flex;
	margin-bottom: 2em;
	.selfintroduction {
		display: flex;
		text-align: left;
	}
	.portrait {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			border-radius: 5%;
			width: 90%;
			max-width: 13em;
		}
	}
}

// main contents
section {
	margin-top: 2em;
	margin-bottom: 2em;
}

h2 {
	margin-top: 1em;
	font-size: 1.5em;
}

.parent {
	margin-left: 0.5em;
}
.child {
	margin-top: -0.8em;
	margin-left: 2em;
}

// footer
footer {
	text-align: center;
	img {
		width: 2.5em;
		margin: 0.5em 2em;
	}
	p {
		margin-top: 1.0em;
		margin-bottom: 2.0em;
	}
}

// horizontal rule
hr {
	border-top: 2px solid $default_hr_color;
}
