$titleColor: #201000;
$defaultColor: #201000;
$linkColor: #001010;
$lineColor: #cccccc;
$transparentColor: rgba(0.0,0.0,0.0,0.0);
$semiTransparentColor: rgba(0.0,0.0,0.0,0.3);

$titleSize: 170%;
$captionSize: 120%;
$subTitleSize: 130%;
$subSubTitleSize: 110%;
$defaultSize: 100%;
$portraitSize: 180px;
$linkIconSize: 30px;
